body{ 
    background-image: url("img/bg.png");
    background-repeat: repeat;
    background-size: 15%;
}

.title{
    text-align: center;
    font-size: 6rem;
    color:green;
    margin: 0 auto;
}

.key-row{
    display: flex;
    font-size: 5rem;
    justify-content: center;
}

.key:hover, .key-accept:hover, .key-delete:hover{
    cursor: pointer;
}

.key{
        padding:0.05em;
        margin: 0.1em;
        width: 100px;
        height: 100px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
}

.key-blue{
    background-image: url('img/ac.png')
}

.key-red{
    background-image: url('img/ad.png')
}

.key-yellow{
    background-image: url('img/ah.png')
}

.key-green{
    background-image: url('img/as.png')
}


.guesses_wrapper{
    display: flex;
    margin: 3rem auto;
    width: 500px;
    height: 500px;
    background-color: darkslateblue;
    text-align: center;
}


#result{
    font-size: 70px;
    margin: auto;
}


#guess_text {
    width: max-content;
    font-size: 3rem;
}

.wrapper_right, .wrapper_left{
    height: 100%;
    width: 50%;
}

.holder{
    border:1px #ccc solid;
    flex:1;
    text-align: center;
    margin: 0 10px;
    font-size: 40px;
    background-color: lightgray;
}

.holder p{
    padding: 0;
    margin: 0;
}

.result-container{
    display: flex;
    height: 60px;
    margin-top: 10%;
    margin-bottom: 10%;
}